body {
  height: 90vh;
  margin: 80px auto 0px;
  font-family: "Poppins", sans-serif;
  background-color: hsl(0, 0%, 94%);
}

.input-box.show-error input {
  border-color: red;
}
.show-error small {
  display: block;
}
.input-box.show-error label {
  color: red;
}
.container {
  max-width: 550px;
  background-color: hsl(0, 0%, 100%);
  padding: 40px 40px 80px 40px;
  border-radius: 25px 25px 40% 25px;
  margin: auto;
}

.box-1 {
  display: flex;
  width: 70%;
}

.input-box label {
  font-size: 15px;
  letter-spacing: 3px;
  color: hsl(0, 1%, 44%);
}

.input-box input {
  padding: 15px;
  width: 80px;
  border-radius: 5px;
  border: 1px solid hsl(0, 0%, 86%);
}
.input-box ::placeholder {
  color: hsl(0, 1%, 44%);
  font-weight: 900;
  font-size: 20px;
  text-align: center;
}
.input-box {
  font-weight: 900;
  font-size: 20px;
}
small {
  font-size: 0.6rem;
  display: block;
  padding: 5px;
  color: red;
  font-style: italic;
  display: none;
}

.box-2 {
  text-align: end;
}

hr {
  width: 79%;
  border: 1px solid hsl(0, 0%, 86%);
  margin: 3px;
  display: inline-block;
}
button {
  background-color: hsl(259, 100%, 65%);
  padding: 50px;
  border-radius: 50%;
  border: transparent;
}
button:hover {
  background-color: hsl(0, 0%, 8%);
  cursor: pointer;
}

.result p {
  font-size: 80px;
  font-style: italic;
  font-weight: 800;
  margin: -30px 0px;
}
.result span {
  color: hsl(259, 100%, 65%);
}
.attribution {
  font-size: 13px;
  margin: 10px;
  text-align: center;
}

@media only screen and (max-width: 480px) {
  body {
    margin: 90px auto;
  }
  .container {
    width: 90%;
    padding: 40px 10px;
  }
  .container input {
    width: 50px;
    padding: 10px 5px;
    margin: 10px 5px;
  }
  .container #year {
    width: 67px;
    padding-right: 0px;
  }

  .container label {
    font-size: 10px;
    letter-spacing: 3px;
    color: hsl(0, 1%, 44%);
  }
  small {
    font-size: 0.3rem;
  }
  hr {
    width: 70%;
  }

  button {
    padding: 35px;
  }

  .result p {
    font-size: 40px;
  }
  .attribution {
    font-size: 10px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .container {
    width: 75%;
  }
  .result p {
    font-size: 30px;

    margin: -15px 0px;
  }
  hr {
    width: 75%;
  }
  button {
    padding: 30px;
    margin-top: 10px;
  }
  .input-box input,
  label {
    margin-left: 7px;
  }
  .attribution {
    font-size: 10px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .result p {
    font-size: 50px;
  }
  hr {
    width: 75%;
  }
  button {
    padding: 35px;
    margin-top: 10px;
  }
  .input-box input,
  label {
    margin-left: 7px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  hr {
    width: 75%;
    border: 3px solid rgb(192, 129, 255);
  }

  .input-box input,
  label {
    margin: 7px;
  }
}
