body {
  margin: 250px 500px;
  font-family: "Poppins", sans-serif;
  background-color: hsl(0, 0%, 94%);
}

.container {
  width: 75%;
  background-color: hsl(0, 0%, 100%);
  padding: 40px 40px 80px 40px;
  border-radius: 25px 25px 40% 25px;
}

.container input {
  width: 90px;
  padding: 20px;
  margin: 10px;
}

.container label {
  font-size: 15px;
  letter-spacing: 3px;
  color: hsl(0, 1%, 44%);
}
.box-2 {
  text-align: end;
}
button {
  background-color: hsl(259, 100%, 65%);
  padding: 50px;
  border-radius: 50%;
  border: transparent;
}
button:hover {
  background-color: hsl(0, 0%, 8%);
  cursor: pointer;
}

.result p {
  font-size: 80px;
  font-style: italic;
  font-weight: 800;
  margin: -30px 0px;
}
.result span {
  color: hsl(259, 100%, 65%);
}
.attribution {
  font-size: 13px;
  margin: 20px;
}
